@model Microsoft.Store.PartnerCenter.Models.Subscriptions.Subscription

<tr>
    <td>
        @Html.DisplayFor(item => item.FriendlyName)
    </td>

    <td>
        @Html.DisplayFor(item => item.Id)
    </td>
    <td>
        @Html.DisplayFor(item => item.Status)
    </td>
</tr>