@model PartnerCenter.Samples.AOBO.Models.UsersModel

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<div id="users"></div>

@section Scripts {
    <script type="text/javascript">
        $.get('/ListUsers/@Model.CustomerId', function (data) {
            $('#users').html(data);
            $('#users').fadeIn('fast');
        });
    </script>
}