<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--
    Application identifier, aka client identifier, obtained either from the application configuration
    in Azure Active Directory, or the App Management section of the Partner Center portal.
    -->
    <add key="ApplicationId" value="" />
    <!--
    Application secret, aka client secret, obtained either from the application configuration
    in Azure Active Directory, or the App Management section of the Partner Center portal.
    -->
    <add key="ApplicationSecret" value="" />
    <!--
    Authority that should be used to obtain the secuirty token. Another valid value for this
    setting is https://login.windows.net.
    -->
    <add key="Authority" value="https://login.microsoftonline.com" />
    <!--
    This value can is used when obtaining a security token from Azure Active Directory. In this
    sample project an Azure AD token is obtained when generating the credentials for the Partner
    Cetner SDK. This value can be the tenant identifier or domain (e.g. cspreseller.onmicrosoft.com)
    for the CSP reseller account.
    -->
    <add key="TenantId" value="" />
  </appSettings>
</configuration>